/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@plugin "daisyui" {
  themes:
    nord --default,
    dim --prefersdark;
}

label:has(+ input[required]) .label-text::after,
label:has(+ select[required]) .label-text::after,
label:has(+ textarea[required]) .label-text::after {
  content: ' *';
  @apply text-error;
}
